<% provide(:title, "Micropost - Edit") %>
<div class="center jumbotron">
  <h1>Editing Micropost</h1>
  <div class="center">
    <%= render 'form', micropost: @micropost %>

    <%= link_to 'Show', @micropost %> |
    <%= link_to 'Back', microposts_path %>
  </div>
</div>