<% provide(:title, "Micropost - New (Create micropost)") %>
<div class="center jumbotron">
  <h1>New Micropost</h1>
  <div class="center">
    <%= render 'form', micropost: @micropost %>

    <%= link_to 'Back', microposts_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>